* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(234, 234, 234);
}
h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  background-color: rgb(146, 173, 255);
}
.name {
  color: brown;
  font-size: 80px;
  display: inline-block;
}
.img {
  opacity: 0.6;
}
